@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.full {
  height: 100%;
  width: 100%;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s;
  visibility: hidden;
}

.fade-in.visible {
  opacity: 1;
  visibility: visible;
}

.snap-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-padding-top: 10vh;
  /* Adjust as needed */
}

.snap-section {
  scroll-snap-align: start;
  height: 100vh;
  scroll-margin-top: 10vh;
  /* Adjust as needed */
  scroll-snap-stop: normal;
}

html {
  scroll-behavior: smooth;
}






@import 'daisyui/dist/full.css';