@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.full {
  height: 100%;
  width: 100%;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s;
  visibility: hidden;
}

.fade-in.visible {
  opacity: 1;
  visibility: visible;
}


html {
  scroll-behavior: smooth;
}






@keyframes dropAndBounce {
  0% {
    transform: translateY(-100%);
  }

  60% {
    transform: translateY(10%);
  }

  80% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(0%);
  }
}

.animate-pulse {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .tablet\:w-8\/12 {
    width: 66.666667%;
  }

  .tablet\:text-center {
    text-align: center;
  }
}








@import 'daisyui/dist/full.css';